h1 {
    margin: 96px 0 0;
}

.sub {
    margin: 16px 0 48px;
}

.in-cart-card {
    width: 100%;
}

#items {
    margin: 48px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#place-order {
    display: flex;
    align-items: center;
    gap: 24px;
}

h2 {
    margin: 96px 0 16px;
}

#active-orders {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.order-card .order-progress-bar {
    width: calc(100% * 3 / 4);
}