main {
    padding-top: 0;
}

#thumbnail {
    width: 100%;
    height: 100vh;
    margin-bottom: 96px;

    background-image: url("/assets/Lightbox%20Sign%20Mockup.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

#thumbnail::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(var(--primary)) 0%, rgba(var(--primary), 0) 35%);
}

@media (min-width: 1200px) {
    #thumbnail {
        width: calc(100% + 100vw - 1200px)!important;
        margin-left: calc(600px - 50vw);
        padding: 0 calc(50vw - 600px);
    }
}

h1 {
    margin-bottom: 12px;
    z-index: 1;
}

.sub {
    margin-bottom: 40px;
    z-index: 1;
}

#scroll-to-left,
#scroll-to-right {
    width: calc(100vw - 120px);
    height: 400px;
    position: relative;
    margin: 40px 0 96px -120px;
    overflow: hidden;

    mask: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%,rgba(0, 0, 0, 0) 100%);
}

.scroll-content {
    display: flex;
    gap: 48px;

    position: absolute;
    top: 0;
    left: 0;
}

#history .text-n-image {
    display: flex;
    gap: 64px;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

#history .text-n-image h2 {
    margin-bottom: 40px;
}

#history-img,
#kitchen-img {
    object-fit: fill;
}

#history-img {
    width: 500px;
    aspect-ratio: 5 / 4;
}

#kitchen-img {
    width: 600px;
    aspect-ratio: 6 / 4;
}

#advantages h2 {
    margin: 64px 0 32px;
}

#advantages-grid {
    margin: 48px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

#advantages-grid > .card {
    width: calc((100% - 96px) / 3);
}

#to-reviews {
    margin: 24px 0 80px;
    display: flex;
    align-items: center;
    gap: 12px;
}

#vision h2 {
    margin-bottom: 32px;
}

#cta {
    margin-top: 48px;
}
